/* fade */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.modal-fade-enter-active {
  animation: fadeIn both;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.modal-fade-leave-active {
  animation: fadeOut both;
}


/* slide */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
}

.slide-enter-active {
  animation: slideIn both;
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}

.slide-leave-active {
  animation: slideOut both;
}


/* jump */
@keyframes jumpIn {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

.jump-up-enter-active {
  animation: jumpIn both;
}

@keyframes jumpOut {
  to {
    transform: translateY(100%);
  }
}

.jump-up-leave-active {
  animation: jumpOut both;
}